AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
# http://fredericiana.com/2009/10/21/keeping-ssh-from-disconnecting-automatically
ClientAliveInterval 300
ClientAliveCountMax 3333
GSSAPIAuthentication no
HostbasedAuthentication no
IgnoreRhosts yes
LogLevel INFO
# Клиент должен авторизоваться за 2 минуты.
LoginGraceTime 120
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin yes
Port 22
Protocol 2
PubkeyAuthentication yes
# Перед авторизацией проверяет права доступа к домашней папке
StrictModes yes
SyslogFacility AUTH
PrintLastLog yes
PrintMotd no
Subsystem	sftp	/usr/lib/openssh/sftp-server
TCPKeepAlive yes
UsePAM yes
UsePrivilegeSeparation yes
X11DisplayOffset 10
X11Forwarding yes